In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('./dataset/social_media.csv', low_memory=False)

### Data Cleaning

In [4]:
df.dropna(inplace=True)

In [5]:
# converting string time to a timestamp
df['time'] = pd.to_datetime(df['time'], errors='coerce')

In [7]:
# Getting hour and month from the time column
df['hour'] = df['time'].dt.hour
df['month'] = df['time'].dt.month

In [8]:
df.head(5)

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements,hour,month
0,id ligula suspendisse ornare consequat lectus ...,6672567125560790,2020-06-30 21:09:00+00:00,365.0,4.0,0.010959,0.0,0,1.0,2.0,...,0,0,0,0,0,0,0.0,0.0,21,6
1,euismod scelerisque quam turpis adipiscing lor...,8265456713789040,2020-06-30 17:14:00+00:00,184.0,2.0,0.010870,0.0,0,2.0,0.0,...,0,0,0,0,0,0,0.0,0.0,17,6
2,leo rhoncus sed vestibulum sit amet cursus id ...,281117346800427,2020-06-30 16:59:00+00:00,2644.0,46.0,0.017398,1.0,1,17.0,0.0,...,0,0,0,0,0,0,354.0,1.0,16,6
3,aenean lectus pellentesque eget nunc donec qui...,7758025943576750,2020-06-30 13:55:00+00:00,301.0,3.0,0.009967,0.0,1,2.0,0.0,...,0,0,0,0,0,0,0.0,0.0,13,6
4,sed accumsan felis ut at dolor quis odio conse...,6131837006729570,2020-06-30 12:13:00+00:00,528.0,0.0,0.000000,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0.0,0.0,12,6

#### KPI cards texts

In [9]:
# Total tweet card
total_tweet = len(df)
print(f'TOTAL TWEETS: {total_tweet}')

TOTAL TWEETS: 1166

In [10]:
# Average impression card
avg_impression = round(df.impressions.sum()/len(df.impressions), 1)
print(f'Avg impression: {avg_impression}')

Avg impression: 781.9

In [16]:
# engagements rate card
likes_retweet = df['likes'].sum()+df['retweets'].sum()

avg_engagement = round(likes_retweet/len(df), 1)
print(f'Avg engagement: {avg_engagement}')

Avg engagement: 7.2

In [12]:
# Media Engagement rate card
media_engagement = int(df['media engagements'].sum()/len(df['media engagements']))
print(f'Media Engagement Per Tweet: {media_engagement}')

Media Engagement Per Tweet: 52