In [5]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [6]:
df = pd.read_csv('./dataset/social_media.csv', low_memory=False)

In [7]:
df.head(1)

,Tweet,id,time,impressions,engagements,engagement rate,retweets,replies,likes,user profile clicks,...,hashtag clicks,detail expands,permalink clicks,app opens,app installs,follows,email tweet,dial phone,media views,media engagements
0,id ligula suspendisse ornare consequat lectus ...,6672567125560790,2020-06-30 21:09 +0000,365.0,4.0,0.010959,0.0,0,1.0,2.0,...,0,1,0,0,0,0,0,0,0.0,0.0

### Data Cleaning

### KPI Cards

In [8]:
# Total tweet card
total_tweet = len(df)
print(f'TOTAL TWEETS: {total_tweet}')

TOTAL TWEETS: 1181